:root {
  --brand-color: #4d5ae5;
  --headings-text-color: #2e2f42;
  --text-color: #434455;
  --background-color: #ffffff;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* ==================== HEADER ==================== */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.studio {
  color: var(--text-color);
}

.menu-item {
  font-weight: 600;
  color: var(--headings-text-color);
}
.menu-item:hover,
.menu-item:focus {
  color: var(--brand-color);
}
.contact-mail {
  color: var(--text-color);
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--brand-color);
}

.contact-tel {
  color: var(--text-color);
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--brand-color);
}

/* ==================== /HEADER ==================== */

/* ==================== HERO ==================== */
.hero {
  background-color: var(--headings-text-color);
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  background-color: var(--brand-color);
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
/* ==================== /HERO ==================== */

/* ==================== ADVANTAGES ==================== */
.advantages-title {
  display: none;
}
.list-element .list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-text-color);
}

/* ==================== /ADVANTAGES ==================== */

/* ==================== IMG-LIST ==================== */
.img-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-text-color);
}
/* ==================== /IMG-LIST ==================== */

/* ==================== TEAM ==================== */
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-text-color);
}
.teammate {
  background-color: #ffffff;
}
.teammate-name {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-text-color);
}
/* ==================== /TEAM ==================== */

/* ==================== FOOTER ==================== */

.footer-studio {
  color: #f4f4fd;
}
.footer {
  background-color: var(--headings-text-color);
  color: #e7e9fc;
}

/* ==================== /FOOTER ==================== */

/* ==================== PORTFOLIO PAGE ==================== */

/* ==================== FILTER ==================== */

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: #f4f4fd;
}
.filter-btn:hover,
.filter-btn:focus {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--brand-color);
  cursor: pointer;
}
/* ==================== /FILTER ==================== */
.filter-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-text-color);
}
.filter-text {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ==================== /PORTFOLIO PAGE ==================== */
